
firebase-tools-instant-win.exe
firebase-deploy.exe
firebase.exe
.firebase/hosting.cHVibGlj.cache
*.cache

public/Challenge-1/.gitignore
public/Challenge-5/.git/

public/Challenge-2/.gitignore
public/Challenge-5/Documentation/
public/Challenge-5/.git/

public/Challenge-3/.gitignore
public/Challenge-5/.git/
public/Challenge-3/README.md

public/Challenge-4/.cache/
public/Challenge-4/.gitignore
public/Challenge-4/.git/
public/Challenge-4/dist/

public/Challenge-5/README.md
public/Challenge-5/.gitignore
public/Challenge-5/Documentation
public/Challenge-5/api

public/Challenge-6/.git/
public/Challenge-6/.vs/
public/Challenge-6/Documentation/
public/Challenge-6/PVO/
public/Challenge-6/.gitignore
public/Challenge-6/package.json
public/Challenge-6/package-lock.json
public/Challenge-6/README.md

firebase.json
firebase.exe
firebase-new.exe
