html, body {
    height: 100%;
    margin: 0;
  }

body {
  background: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid white;
  position: absolute;
  bottom: 200px;
}

.time {
  margin: 0;
  position: absolute;
  width: calc(320px - 24px);
  bottom: 925px;
  margin: 0; 
}

.score  {
  margin: 0;
  position: absolute;
  width: calc(320px - 24px);
  bottom: 850px;
  margin: 0;
}
.score p {
  width: 50%;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.btn  {
  position: absolute;
  bottom: 100px;
}