@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@font-face {
    font-family: 'val';
    src: url('val.ttf')  format('truetype'), /* Safari, Android, iOS */
}
body{
    height: 100dvh;
    font-family: val;
    background-color: #ffb7c5;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: xx-large;
    text-decoration: none;
    font-weight:normal
}
.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button{
  margin: 10px 10px 10px 10px;
}
img{
    height: 300px;
    width: 300px;
}
.bi-emoji-frown{
    color: #ffffff;
    height: 45px;
    width: 45px;
    position: relative;
    top: -2px;
}
.bi-heart{
    color: #ffffff;
    height: 45px;
    width: 45px;
    position: relative;
    top: -2px; 
}
/* BTN */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #8f8f8f;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover-yes:before {
    background: linear-gradient(45deg, #B91372 , #6B0F1A);
}
.glow-on-hover:active {
    color: #000000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* box */
.b-box {
    overflow-x: none;
    position: absolute;
    aspect-ratio: 1/1;
    z-index: -1
  }
  .b-one {
    height: 35%;
    top: 35%;
    left: 20%;
    animation: 15s ease-in-out infinite hover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .b-two {
    height: 20%;
    top: 35%;
    left: 5%;
    animation: 18s ease-in-out infinite hover
  }
  .b-three {
    height: 20%;
    top: 35%;
    right: 5%;
    animation: 9s ease-in-out infinite hover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .b-four {
    height: 35%;
    top: 35%;
    right: 20%;
    animation: 12s ease-in-out infinite hover
  }
  @keyframes hover {
    0% {
      -webkit-transform:translateY(25%)
    }
  50% {
      -webkit-transform: translateY(-25%)scaleX(-1);
      transform:translateY(-25%)scaleX(-1);
    }
  100% {
      -webkit-transform: translateY(25%)scaleX(1);
      transform:translateY(25%)scaleX(1)
    }
  }


  .no1{
    position: relative;
    top: 100px;
    right: 100px;
  }
  .no2{
    position: relative;
    top: -600px;
    right: 150px;
  }
  .no3{
    position: relative;
    top: 200px;
    right: -120px;
  }
  .no4{
    position: relative;
    top: 250px;
    right: 580px;
  }
  .no5{
    position: relative;
    top: -300px;
    right: 400px;
  }


  .fa-heart {
    color: rgb(60, 0, 60);
    font-size: 25px;
    position: absolute;
    animation:  heartMove linear 1;
    top: -10vh;
    z-index: 0;
}

@keyframes heartMove {
    0%{
        transform: translateY(-10vh) ;
    }
    100%{
        transform: translateY(110vh) ;
    }
}