@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@font-face {
    font-family: Dimitra;
    src: url(https://headbodyscript.github.io/assets/fonts/dimitra.woff2) format('woff2')
}

/* ROOT ELEMENTS */
:root{
    --txt-w: #ffffff;
    --txt-b: #000000;
}
.dark{
    --txt-b: #ffffff;
}
.light{
    color: var(--txt-w);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: calc(100dvh * 4);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
header, footer{
    position: absolute;
    background: rgba(46, 46, 46, 0.15);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0,0,0,.6);
    color: var(--txt-b);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
header div ul li {
    list-style: none;
    padding: 0 4px 0 4px;
}
footer{
    background: rgba(46, 46, 46, 0.35);
    top: calc(400vh - 100px);
    color: var(--txt-w);
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button:hover{
    text-decoration: underline;
}
h1, h2{
    font-weight: normal;
}
ul{
    padding: 0;
    margin: 0;
}

/* LINKS */
a {
    text-decoration: none;
}
a:link {
    color: var(--txt-w);
}
a:visited {
    color: var(--txt-w);
}
a:hover {
    color: var(--txt-w);
    text-decoration: underline;
}
a:active {
    color: var(--txt-w);
}

/* FLEX BOX */
.row, .row1200{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMG */
svg{
    position: relative;
    bottom: 80px;
}
.logo{
    height: 48px;
    width: 48px;
    position: relative;
    top: 4px;
    right: 10px;
}
.pfp{
    height: 70px;
    width: 70px;
}

/* THEME */
.contrast-100{
    background: rgba(46, 46, 46, 0);
}
.contrast-75{
    background: rgba(46, 46, 46, 0.25);
}
.contrast-50{
    background: rgba(46, 46, 46, 0.50);
}
.contrast-25{
    background: rgba(46, 46, 46, 0.75);
}

/* CARDS */
.card{
    height: 100dvh;
    color: var(--txt-b);
    position: sticky;
    top: 0;
    background-size: 100% 100%;
    z-index: 1;
}
.card:nth-child(1){
    background-image: url("../../assets/webp/1.webp");
}
.card:nth-child(2){
    background-image: url("../../assets/webp/2.webp");
}
.card:nth-child(3){
    background-image: url("../../assets/webp/3.webp");
}
.card:nth-child(4){
    background-image: url("../../assets/webp/4.webp");
}
.card-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-display{
    min-height: 200px;
    background: rgba(46, 46, 46, 0.15);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0,0,0,.6);
    color: var(--txt-b);
}

/* SPACER */
.space{
    padding: 0 10px 0 10px;
}
.space-around{
    justify-content: space-around;
}
.space-between{  
    justify-content: space-between;
}

/* ICONS */
.bi-moon-stars{
    width: 28px;
    height: 28px;
    position: relative;
    top: 2px;
    opacity: 1;
    transition: .6s;
}
.bi-moon-stars-fill{
    width: 28px;
    height: 28px;
    position: relative;
    top: 2px;
    left: -31.5px;
    opacity: 0;
    transition: .6s;
}
.bi-moon-stars-fill:hover{
    opacity: 1;
}
.bi-geo-alt-fill,
.bi-telephone-fill,
.bi-twitter,
.bi-linkedin{
    position: relative;
    bottom: 2px;
    margin-right: 2px;
}
.bi-box-arrow-in-right,
.bi-download{
    position: relative;
    bottom: 4px;
    right: 5px;
}
.bi-envelope-fill{
    position: relative;
    bottom: 1px;
    margin-right: 2px;  
}

/* ToolTip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background: rgba(46, 46, 46, 0.55);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0,0,0,.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0 15px;
    position: absolute;
    margin-left: 10px;    
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* SKILL */
.skill{
    margin-left: 30px;
    width: 80px;
    height: 80px;
}
.outer{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,.15),
                -6px -6px 10px -1px rgba(255,255,255,.7);
    padding: 10px;
}
.inner{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px rgba(0,0,0,.2),
                inset -6px -6px 10px -1px rgba(255,255,255,.7),
                /* -0.5px -0.5px 0px rgba(255,255,255,1), */
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}
#experience{
   font-weight: 600;
   font-size: large;
   color: var(--txt-b);
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;

}
@keyframes anim{
    100%{
        stroke-dashoffset: var(--experience);
        /* stroke-dashoffset: 400; */
    }
}

/* BUTTON */
.download-button{
    border-radius: 40px;
    padding: 20px 90px 20px 90px;
    background: rgba(46, 46, 46, 0.15);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0,0,0,.6);
}
.download-button:hover{
    background: rgba(46, 46, 46, 0.45);
}
.download-text{
    margin: 0 15px;
}
.download-text:hover{
    text-decoration: none;
}
.btn-size{
    width: 35%;
}

/* OTHER */
.logo-text{
    font-size: medium;
    font-family: Dimitra;
    position: relative;
    top: 12px;
}
.square{
    padding: 50px;
    width: 50%;
}
#theme{
    text-decoration: none;
}
.mascot{
    width: 400px;
    height: 400px;
}
.desc p{
    font-size: large;
    padding-bottom: 15px;
}
.title{
    font-size: 75px;
}

/* Special */
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-75{
    margin-top: 75px;
}
.w{
    width: 100%;
}

@media (max-width: 1920px) {
    .square{
        padding: 20px;
        width: 50%;
    }
}
@media (max-width: 1250px) {
    .main{
        display: none;
        visibility: hidden;
    }
    header{
        height: 100dvh;
    }
    header div{
        width: fit-content;
        height: fit-content;
    }
    .x{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media (max-width: 1200px) {
    .mascot{
        width: 250px;
        height: 250px;
    }
    .download-button{
        padding: 20px 90px 20px 90px;
        font-size: xx-small;
    }
    .row-1200{
        flex-direction: column;
    }
    .btn-size{
        width: 80%;
        margin-top: 10px;
    }
    footer div:nth-child(2){
        display: none;
        visibility: hidden;
    }
    .title{
        font-size: 40px;
    }   
}
@media (max-width: 800px) {
    .square{
        padding: 5px;
        width: 50%;
    }
    .mascot{
        width: 180px;
        height: 180px;
    }
}
@media (max-width: 500px) {
    footer div:nth-child(3){
        display: none;
        visibility: hidden;
    }
}
