@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@font-face {
    font-family: Dimitra;
    src: url(https://headbodyscript.github.io/assets/fonts/dimitra.woff2) format('woff2')
}

/* ROOT ELEMENTS */
:root{
    --txt-w: #ffffff;
    --txt-b: #000000;
}
.dark{
    --txt-b: #ffffff;
}
.light{
    color: var(--txt-w);
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100dvh * 2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden
}
header{
    position: absolute;
    background: rgba(46, 46, 46, 0.15);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0,0,0,.6);
    color: var(--txt-b);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
header div{
    padding: 25px 0;
}
ul li {
    list-style: none;
    padding: 0 4px 0 4px;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
h2{
    font-size: larger;
    font-weight: normal;
}
ul{
    padding: 0;
    margin: 0;
}

/* LINKS */
a {
    font-size: x-large;
    text-decoration: none;
}
a:link {
    color: var(--txt-b);
}
a:visited {
    color: var(--txt-b);
}
a:hover {
    color: var(--txt-b);
    text-decoration: underline;
}
a:active {
    color: var(--txt-b);
}

/* THEME */
.contrast-100{
    background: rgba(46, 46, 46, 0);
}
.contrast-75{
    background: rgba(46, 46, 46, 0.25);
}
.contrast-50{
    background: rgba(46, 46, 46, 0.50);
}
.contrast-25{
    background: rgba(46, 46, 46, 0.75);
}

/* Special */
.ml-10{
    margin-left: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-75{
    margin-top: 75px;
}
.w{
    width: 100%;
}
.h{
    height: 100%;
}

/* SKILL */
.skill{
    box-sizing: border-box;
    margin: 0 30px;
    width: 80px;
    height: 80px;
}
.outer{
    box-sizing: border-box;
    position: relative;
    bottom: 25px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,.15),
                -6px -6px 10px -1px rgba(255,255,255,.7);
    padding: 10px;
}
.inner{
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px rgba(0,0,0,.2),
                inset -6px -6px 10px -1px rgba(255,255,255,.7),
                /* -0.5px -0.5px 0px rgba(255,255,255,1), */
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}
#experience{
   font-weight: 600;
   font-size: large;
   color: var(--txt-b);
   padding: 0;
}
#level{
    padding: 0;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
@keyframes anim{
    100%{
        stroke-dashoffset: var(--experience);
        /* stroke-dashoffset: 400; */
    }
}
/* FLEX BOX */
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMG */
svg{
    position: relative;
    bottom: 105px;
}

/* ICONS */
.bi-moon-stars{
    width: 28px;
    height: 28px;
    position: relative;
    top: 2px;
    opacity: 1;
    transition: .6s;
}
.bi-moon-stars-fill{
    width: 28px;
    height: 28px;
    position: relative;
    top: 2px;
    left: -31.5px;
    opacity: 0;
    transition: .6s;
}
.bi-moon-stars-fill:hover{
    opacity: 1;
}

/* OTHER */
.logo-text{
    font-size: medium;
    font-family: Dimitra;
    position: relative;
    top: 12px;
    margin-bottom: 22px;
}
#theme{
    text-decoration: none;
}

/* CARDS */
.card{
    height: 100dvh;
    color: var(--txt-b);
    position: sticky;
    top: 0;
    background-size: 100% 100%;
    z-index: 1;
}

/* ToolTip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background: rgba(46, 46, 46, 0.55);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0,0,0,.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0 15px;
    position: absolute;
    margin-left: 10px;    
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.footer{
    font-size: larger;
}