@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@font-face {
    font-family: Dimitra;
    src: url(https://headbodyscript.github.io/assets/fonts/dimitra.woff2) format('woff2')
}
/* ROOT ELEMENTS */

.dark{
    --txt-b: #ffffff;
}
.light{
    --txt-b: #000000;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: calc(100dvh * 2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
header{
    height: 100dvh;
    /* background: rgba(46, 46, 46, 0.15)!important; */
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0,0,0,.6);
}
.bg{
    background: rgba(46, 46, 46, 0.15)!important;
}
footer{
    height: 100dvh;
}
footer div{
    padding: 16px 0;
}
footer p{
    margin: 0;
}
h2, h1{
    color: var(--txt-b);
    font-weight: normal;
    margin: 0;
}
h1{
    font-size: x-large;
}
footer h2{
    margin-bottom: 10px;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* LINKS */
a {
    text-decoration: none;
}
a:link {
    color: var(--txt-b);
}
a:visited {
    color: var(--txt-b);
}
a:hover {
    color: var(--txt-b);
    text-decoration: underline;
}
a:active {
    color: var(--txt-b);
}

/* CARDS */
.card{
    height: 100dvh;
    color: var(--txt-b);
    position: sticky;
    top: 0;
    background-size: 100% 100%;
    z-index: 1;
}
.card-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FLEX BOX */
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SKILL */
.skill{
    margin-left: 30px;
    width: 80px;
    height: 80px;
}
.outer{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,.15),
                /* -6px -6px 10px -1px rgba(255,255,255,.7); */
                -6px -6px 10px -1px rgba(0,0,0,.2);
    padding: 10px;
}
.inner{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px rgba(0,0,0,.2),
                /* inset -6px -6px 10px -1px rgba(255,255,255,.7), */
                inset -6px -6px 10px -1px rgba(0,0,0,.2),
                /* -0.5px -0.5px 0px rgba(255,255,255,1), */
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}
#experience{
   font-weight: 600;
   font-size: large;
   color: var(--txt-b);
}
#level{
    color: var(--txt-b);
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;

}
@keyframes anim{
    100%{
        stroke-dashoffset: var(--experience);
        /* stroke-dashoffset: 400; */
    }
}
/* ICONS */
.bi-moon-stars{
    width: 28px;
    height: 28px;
    position: relative;
    top: 2px;
    opacity: 1;
    transition: .6s;
    color: var(--txt-b);
}
.bi-moon-stars-fill{
    width: 28px;
    height: 28px;
    position: relative;
    top: 2px;
    left: -31.5px;
    opacity: 0;
    transition: .6s;
    color: var(--txt-b);
}
.bi-moon-stars-fill:hover{
    opacity: 1;
}
.bi-geo-alt-fill,
.bi-telephone-fill,
.bi-twitter,
.bi-linkedin{
    position: relative;
    bottom: 2px;
    margin-right: 2px;
}
.bi-box-arrow-in-right,
.bi-download{
    position: relative;
    bottom: 4px;
    right: 5px;
}
.bi-envelope-fill{
    position: relative;
    bottom: 1px;
    margin-right: 2px;  
}

/* IMG */
svg{
    position: relative;
    bottom: 80px;
}

/* THEME */
.contrast-100{
    background: rgba(46, 46, 46, 0);
}
.contrast-75{
    background: rgba(46, 46, 46, 0.25);
}
.contrast-50{
    background: rgba(46, 46, 46, 0.50);
}
.contrast-25{
    background: rgba(46, 46, 46, 0.75);
}

/* ToolTip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background: rgba(46, 46, 46, 0.55);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0,0,0,.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0 15px;
    position: absolute;
    margin-left: 10px;    
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* OTHER */
.logo-text{
    font-size: medium;
    font-family: Dimitra;
    position: relative;
    top: 12px;
}

.download div{
    padding: 10px 10px;
}
.logo div{
    padding: 10px 10px;
    margin-bottom: 30px;
}
.user{
    position: absolute;
    top: 20px;
    right: 20px;
}
.w{
    width: 100dvw;
}
.h{
    height: 100%;
}