/* this .css file is used in all .html files as their foundation */
/* define variables */
:root{
  --main: #f6f8fc;
  --main-inner: #ffffff;
  --text: rgb(0, 0, 0);
  --sub-text: #dddddd;
  --click-text: #58a6ff;
  --oreo: #5c509f;
  --shadow: rgb(124, 124, 124);
  --main-red: white;
}
body{
  font-family: sans-serif;
  color: var(--text);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
section{
  visibility: hidden;
  display: none;
  height: calc(100% - 200px);
}
button, input[type="submit"], input[type="reset"]{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: none;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
}
::placeholder {
  color: white;
}
.button:hover{
  background: var(--main-red);
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--main-red), 0 0 25px var(--main-red), 0 0 50px var(--main-red), 0 0 100px var(--main-red);
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
.bg-main{
  background-image: url('../../assets/content/main.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  margin: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.main{
  margin: 50px 100px 0 100px;
  height: 100%;
}
.card{
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.visible{
  visibility: visible;
  display: block;
}
#navBtn, input[type="submit"], input[type="reset"]{
  position: relative;
  display: inline-block;
  /* padding: 20px 20px; */
  padding-left: 350px;
  padding-right: 200px;
  padding-top: 10px;
  background: none;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  justify-content: center;
}

#navBtn h1{
  text-align: left;
  font-size: 30px;
  padding-right: 50px;
}
#navBtn:hover{
  background: var(--main-red);
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--main-red), 0 0 25px var(--main-red), 0 0 50px var(--main-red), 0 0 100px var(--main-red);
}

#searchbtn {
  display: inline-block;
  padding-bottom: 10px;
  background: none;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;

}

#searchbtn img {
  margin-top: 10px;

}
