
.row-type {
        float: left;
}

.row li {
    float: left;
}
.menu ul {
    all: unset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.menu ul li {
    position: relative;
}
.menu ul li a {
    display: block;
    padding: 10px;
}
.menu ul li ul li a {
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 1px;
    z-index: -20000;
}
/* Style the submenus */
.menu ul li ul {
    position: absolute;
    display: none;
    flex-direction: row;
}

.menu ul ul li {
    width: max-content;
    min-width: 100%;
    max-width: 200px;
}

.menu ul a {
    all: unset;
    color: #fff;
    cursor: pointer;
}
.menu ul li ul li a:hover {
    text-decoration: underline;
}

.menu ul li:hover > ul {
    display: flex; /* Show submenus on hover */
}

/* Style the third-level submenu */
.menu ul ul ul {
    top: 0;
    left: 100%;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: #fff;
    transition: background-color 5000s ease-in-out 0s;
} */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}


.autocomplete-items {
  position:absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
}

.autocomplete-items div {
    padding: 2px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 2px;
    color: var(--sub-text);
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}