@font-face {
    font-family: 'silver';
    src: url(../fonts/Silver.ttf);
}
@font-face {
    font-family:"Madimi One";
    font-weight: 400;
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/madimione/v1/2V0YKIEADpA8U6RygDnZVC8iB7HM.woff2) format('woff2');
}

:root {
    --player-min: #000000;
    --player-max: #000000;
    --antagonist-min: #000000;
    --antagonist-max: #000000;
}

* {
    margin: 0;
}
body {
    box-sizing: border-box;
    background-size: 100% 100dvh;
    background-image: url(https://raw.githubusercontent.com/Tijl-Pleuger-Vista/website.github.io/main/public/leet-handbook/assets/webp/2.webp);
    background-attachment: fixed;
}

.container {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.button{
    font-family: "Madimi One";
    width: 0px;
    display: none;
    visibility: hidden;
    height: 0px;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgba(46, 46, 46, 0.15);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0, 0, 0, .6);
    padding: 0;
}

.flex {
    position: relative;
    top: 25px;
    width: 350px;
    height: 120px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.flex-select{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(50, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 12px;
}
.flex-select button{
    display: block;
    visibility: visible;
    width: 100%;
    height: max-content;
    padding: 12px;
}

.flex-1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    }
    
    .flex-1 .div1 { grid-area: 1 / 1 / 2 / 2; }

.flex-2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    }
    
    .flex-2 .div1 { grid-area: 1 / 1 / 2 / 2; }
    .flex-2.div2 { grid-area: 2 / 1 / 3 / 2; }

.flex-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }
    
    .flex-3 .div1 { grid-area: 1 / 1 / 2 / 2; }
    .flex-3 .div2 { grid-area: 1 / 2 / 2 / 3; }
    .flex-3 .div3 { grid-area: 2 / 1 / 3 / 3; }

.flex-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }
    
    .flex-4 .div1 { grid-area: 1 / 1 / 2 / 2; }
    .flex-4 .div2 { grid-area: 1 / 2 / 2 / 3; }
    .flex-4 .div3 { grid-area: 2 / 1 / 3 / 2; }
    .flex-4 .div4 { grid-area: 2 / 2 / 3 / 3; }                             

.active{
    display: block;
    visibility: visible;
    width: 100%;
    height: 100%;
}

.hud {
    position: relative;
    display: none;
    width: 50%;
    align-items: center;
}

.healthLayoutPlayer {
    position: absolute;
    left: 50%;
    height: 30px;
    width: 100%;
    border-style:solid;
    border-radius: 2px;
    border-color: #fff;
}

.healthLayoutAntagonist {
    position: absolute;
    bottom: 352px;
    left: 50%;
    height: 30px;
    width: 100%;
    border-style:solid;
    border-radius: 2px;
    border-color: #fff;
}

.remainingHealthbar {
    background-color: black;
    height: 30px;
    width: 100%;
}

.playerHealthTotal {
    position: absolute;
    background-image: linear-gradient(to right, var(--player-min), var(--player-max));
    /* background-color: #8B5CF6; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.antagonistHealthTotal {
    position: absolute;
    background-image: linear-gradient(to right, var(--antagonist-min), var(--antagonist-max));
    /* background-color: #8B5CF6; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.game {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 30px;
}
#gameWindow {
    border: 2px solid black;
}

.menu {
    font-family: silver;
    color: black;
    position: absolute;
    width: 350px;
    height: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 160px;
}

.menuOption {
    border: solid black;
    border-width: 1px 5px 5px 1px;
    font-size: 50px;
    padding: 10px 20px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.menuOption:hover {
    box-shadow: inset 350px 0 0 0 #9eade9;
    color: black;
}

.author {
    padding-top: 10px;
    font-size: 30px;
    font-style: italic;
}

.animate-title {
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 30%,
            #A8EEE3 42%,
            #9eade9 50%,
            #A8EEE3 58%,
            #44107a 76%,
            #231557 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 60px;
    max-width: 350px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.playerName,
.AntagonistName{
    color: aliceblue;
    position: absolute;
    z-index: 10;
    top: 6px;
}

.question{
    position: absolute;
    left: 10px;
    bottom: 28px;
    background-color: white;
    width: 335px;
    height: 50px;
}

.w{width: 100%}
.mw{width: 350px;}
.h{height: 100dvh}

.mt-10{margin-top:10px}
.mt-20{margin-top:20px}
.mr-5{margin-right:5px}
.ml-5{margin-left:5px}

.h-150{height:150px}