@font-face {
    font-family: 'silver';
    src: url(../fonts/Silver.ttf);
}
@font-face {
    font-family:"Madimi One";
    font-weight: 400;
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/madimione/v1/2V0YKIEADpA8U6RygDnZVC8iB7HM.woff2) format('woff2');
}

* {
    margin: 0;
}
body {
    box-sizing: border-box;
    background-image: url(https://raw.githubusercontent.com/Tijl-Pleuger-Vista/website.github.io/main/public/leet-handbook/assets/webp/2.webp);
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.mr-5 {
    margin-right: 5px;
    margin-left: 5px;
}

.mr-btn {
    margin: 8px;
}

.mt-20{
    margin-top: 20px;
}
.hud {
    position: relative;
    display: none;
    width: 50%;
    align-items: center;
}

.healthLayout {
    position: absolute;
    left: 50%;
    height: 30px;
    width: 100%;
    border-style:solid;
    border-radius: 2px;
    border-color: #fff;
}

.remainingHealthbar {
    background-color: black;
    height: 30px;
    width: 100%;
}

.totalHealthBar {
    position: absolute;
    background-image: linear-gradient(to right, #6C192B, #AF2424);
    /* background-color: #8B5CF6; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.timer {
    background-image: url(../../assets/img/pvo_limburg_logo.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'silver';
    font-size: 35px;
    height: 50px;
    width: 75px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.result {
    position: absolute;
    font-family: 'silver';
    font-size: 100px;
    display: none;
    align-items: center;
    justify-content: center;
    color: wheat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.game {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#gameWindow {
    border: 2px solid black;
}

.keymapping {
    display: flex;
    justify-content: center;
    font-family: 'silver';
    font-size: 40px;
}

.keys {
    margin: 30px;
    padding: 40px;
    border: 2px solid black;
}

.keys h1 {
    margin: 0px
}

.menu {
    font-family: silver;
    color: black;
    position: absolute;
    width: 1024px;
    height: 576px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 160px;
}

.menuOption {
    border: solid black;
    border-width: 1px 5px 5px 1px;
    font-size: 50px;
    padding: 10px 20px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.menuOption:hover {
    box-shadow: inset 350px 0 0 0 #9eade9;
    color: black;
}

.author {
    padding-top: 10px;
    font-size: 30px;
    font-style: italic;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #A8EEE3 67%,
            #9eade9 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 60px;
    max-width: 350px;
}

#QandA{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-family: "Madimi One";
    font-size: 16px;
}

#questions{
    display: flex;
    justify-content: center;
    margin: 20px;
    max-width: 380px;
    border-color: purple;
    font-family: "Madimi One";
    font-size: 16px;
}



@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.btn{
    font-family: "Madimi One";
    width: 150px;
    height: 50px;
    /* background: linear-gradient(to right, gray, gray); */
    color: black;
    border: none;
    cursor: pointer;
    /* border-radius: 10px; */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

    border-radius: 10px;
    /* padding: 20px 90px 20px 90px; */
    background: rgba(46, 46, 46, 0.15);
    box-sizing: border-box;
    box-shadow: 0 0s 25px rgba(0, 0, 0, .6);
}

.w {
    width: 100%;
}