@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@font-face {
  font-family: console;
  src: url(../font/console.ttf);
}
@font-face {
  font-family: Dimitra;
  src: url(https://headbodyscript.github.io/assets/fonts/dimitra.woff2) format('woff2')
}
:root {
  --main: #1E1E1E;
  --text: white;
  --scrollbar: white;
  --error: #E74856;
  --warning: ;
  --input: #F9F1A5;
}
p {
  margin: 0;
  width: fit-content;
}
a {
  text-decoration: none;
}
a:link {
  color: var(--text);
}
a:visited {
  color: var(--text);
}
a:hover {
  color: var(--text);
}
a:active {
  color: var(--text);
}
body {
  background-color: var(--main);
  margin: 10px;
  overflow-x: hidden;
  color: var(--text);
  font-family: console;
}
body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: var(--main);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 20px;
}
.scrollbar::-webkit-scrollbar {
  width: 3px;
}
.scrollbar::-webkit-scrollbar-track {
  background: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 20px;
}
.row  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: fit-content;
}
.code {
  margin-left: 8px;
  color: var(--input);
}
.code-spacebar {
  margin-left: 8px;
  color: var(--input);
  margin-right: 18px;
}
.error {
  color: var(--error);
}
.blank {
opacity: 0;
}
.underscore {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}